.idea/

*.tfstate.*
*.tfvars.*
*.plan
.terraform/
.vscode/
.aws-sam/

terraform/init
terraform/*.zip
terraform/*.jar
terraform/*.tar
.env

dist/
node_modules/

netsuite.properties

.DS_STORE
coverage.xml
.coverage

utility.py
temp.json
__pycache__
.coverage
coverage.xml

# Java Artifacts
cookie.iml
src/netsuite/target/*
